.wrapper--recipeBlock {
  display: flex;
  margin-top: 30px;
  position: relative;

  @media (max-width: 775px) {
    margin-left: 40px;
  }
  @media (max-width: 707px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 5px;
  }

  img {
    width: 330px;
    height: 200px;
    border-radius: 10px;
    @media (max-width: 991px) {
      width: 300px;
      height: 170px;
    }
  }

  span {
    color: #666;
    font-size: 14px;
    margin-top: 5px;
  }

  .item__recipeBlock {
    position: relative;
    top: 10px;

    max-height: 190px;
    margin-left: 40px;
    width: 330px;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: 707px) {
      max-width: 300px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-right: 5px;
      margin-left: 0;
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      margin-bottom: 5px;
      &:hover{
        color: #F35431;
      }
    }
    .item__info{
      width: 290px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }


  }
}