.wrapper--search_page{
   padding-bottom: 30px;
   background-color: #FDF0F0;
   min-height: 500px;
   h3{
      padding-top: 20px;
      margin: 0 0 0 30px;
   }

   h5{
      margin-left: 20px;
   }
}