.wrapper--search {
  margin: 0 0 30px 30px;

  input {
    width: 300px;
    max-width: 300px;
    min-height: 30px;
    outline: none;

    &:focus {
      border: 1px solid #F35431;
    }
  }

  button {
    margin-left: 20px;
    width: 100px;
    height: 30px;
    background-color: #F35431;
    border: none;
    cursor: pointer;
    color: white;
    &:hover {
      border: 1px solid #F35431;
    }

    &:active {
      font-size: 14px;
    }
  }
}