.wrapper--links {
  font-size: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 65px;
  left: 500px;
  width: 200px;
  padding: 0px 10px;

  @media screen and (max-width: 991px) {
    position: relative;
    top: 30px;
    left: 400px;
  }
  @media screen and (max-width: 767px) {
    position: relative;
    left: 250px;
  }
  @media screen and (max-width: 565px){
    left: 155px;
  }
  @media screen and (max-width: 479px) {
    position: relative;
    left: 90px;
  }
}