.wrapper--links {
  font-size: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 65px;

  width: 100%;
  @media screen and (max-width: 991px){
    position: relative;
    top: 30px;

  }
  @media screen and (max-width: 767px){
    position: relative;
  }
  @media screen and (max-width: 479px){
    position: relative;
    right: 20px;
  }
}