.wrapper__header {
  width: 100%;

  .header__container {
    max-width: 1150px;
    margin: 20px auto;
    padding: 5px 5px;
    box-sizing: content-box;

    .header__main {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .main__burger{
        display: none;
        @media screen and (max-width: 991px){
          display: flex;
          flex-direction: column;
          line-height: 1px;
        }
      }

      @media screen and (max-width: 991px){
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .main__logo {
        display: flex;
        align-items: center;
        h1 {
          cursor: pointer;
          font-weight: 700;
          font-size: 30px;
          padding: 0px 10px;
          color: #f35431;
        }

        img {
          cursor: pointer;
          width: 100px;
          border-radius: 50%;
        }

        @media screen and (max-width: 479px){
          position: relative;
          left: 0;
          padding: 0 10px;
        }
      }

      .main__icons {
        @media screen and (max-width: 991px){
          position: relative;
          display: none;
        }


      }
      .item__icon {
        font-size: 30px;
        color: #f35431;
        margin: 0px 10px;
        cursor: pointer;
      }


    }
  }
}