.wrapper--aboutRecipe {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 1100px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-left: 1px;
  padding-right: 1px;

  @media screen and (max-width: 575px){
    max-width: 100%;
  }

  img {
    max-height: 500px;
  }

  .item__content {
    display: flex;
    flex-wrap: wrap;
    .item__description {
      @media screen and (max-width: 479px){
        max-width: 300px;
      }
      padding: 10px;
      h1 {
        font-weight: 700;
        font-size: 24px;
        margin: 4px 0;
      }
    }

    .item__aboutRecipe {
      max-width: 800px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      color: #1F1F1F;

      h1 {
        color: #222222;
      }

      .item__ingredients {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        .ingredients__title {
          display: flex;
          align-items: center;
          margin-left: 40px;

          h3 {
            font-size: 18px;
            font-weight: 700;
            margin-left: 20px;
          }
        }

        .ingredients__about {
          display: flex;
          max-width: 400px;
          justify-content: space-between;
          font-size: 16px;
          @media screen and (max-width: 479px){
            max-width: 300px;
          }
          .ingredients__name {
            color: #1F1F1F;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
          }

          .ingredients__amount {
            color: #1F1F1F;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
          }
        }
      }

      .item__steps {
        padding-top: 50px;

        .steps__title {
          display: flex;
          align-items: center;
          margin-left: 40px;

          h3 {
            font-weight: 700;
            font-size: 18px;
            margin-left: 20px;
          }

          span {
            margin-left: 30px;
            color: #1F1F1F;
          }
        }

        .steps__aboutSteps {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-right: 5px;


          .steps__step {
            display: flex;
            align-items: center;
            margin-top: 20px;
            @media screen and (max-width: 768px) {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
            }
            @media screen and (max-width: 479px){
              max-width: 300px;
            }
            img {
              @media screen and (max-width: 479px){
                max-width: 250px;
              }
              max-width: 330px;
              max-height: 200px;
              border-radius: 10px;
            }

            .steps__img {
              display: flex;
              align-items: center;

              span {
                padding-right: 5px;
                font-size: 20px;
                color: gray;
              }
            }

            .steps__description {
              margin-left: 15px;
              @media screen and (max-width: 768px) {
                margin-top: 10px;
                max-width: 330px;
              }
            }

            &:hover {
              .steps__img {
                span {
                  transition: 1s;
                  color: #F35431;
                }
              }
            }
          }
        }
      }

      .item__bonAppetit {
        margin-top: 50px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        min-height: 40px;
        max-width: 750px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media screen and (max-width: 479px){
          max-width: 300px;
        }
        span {
          font-size: 18px;

        }
      }

      .item__rating {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        @media screen and (max-width: 479px){
          display: flex;
          flex-direction: column;
          max-width: 300px;
        }
        .rating__stars {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .wrapper--comments {
        margin-left: 20px;
        margin-top: 50px;

        h3{
          font-weight: 700;
          font-size: 18px ;
        }

        .item__showComments {
          display: flex;
          align-items: center;
          padding-top: 10px;

          .showComments__items {
            h4 {
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 3px;
            }
            margin-left: 30px;
          }
        }

        .item__addComment {
          margin-top: 50px;
          @media screen and (max-width: 479px){
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
          }

          .addComment__input {
            margin-top: 40px;
            @media screen and (max-width: 479px){
              display: flex;
              flex-direction: column;
            }
            button {
              margin-top: 20px;
              height: 30px;
              background-color: #F35431;
              color: white;
              border-radius: 5px;
              border: none;
              cursor: pointer;
              padding: 5px;

              &:active {
                border: 1px solid blue;
              }
            }

            .addComment__upInput {
              display: flex;
              @media screen and (max-width: 479px){
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
              }
              input {
                max-width: 200px;
                height: 25px;
                outline: none;
                border: 1px solid lightgrey;

                &:focus {
                  max-width: 200px;
                  height: 25px;
                  border: 1px solid #F35431;
                }
              }

              .upInput__name {
                display: flex;
                flex-direction: column;
              }

              .upInput__email {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                @media screen and (max-width: 479px){
                  margin: 10px 0;
                }
              }
            }

            .addComment__textarea {
              display: flex;
              flex-direction: column;
              margin-top: 20px;

              textarea {
                border: 1px solid lightgrey;
                max-width: 500px;
                height: 200px;
                outline: none;

                &:focus {
                  border: 1px solid #F35431;
                }
              }
            }
          }

        }
      }


    }
  }
}